html{ 
  background: url(images/black-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin: 0px;
  padding: 0px 
}
body{ 
color:#fff;
font-family: Arial, sans-serif;
font-size:11px;
line-height: 22px;
padding:0px;
margin:0px; 
}

#wrapper{
  position: relative;
  margin: 0 auto;
  width: 1020px;
  height: 100%;
}
#container{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
}
#captureIcon{
  position: absolute;;
  top: 10px;
  right: 25px;
  width: 64px;
  height: 52px;
  background-image: url("images/camera.png");
  cursor: pointer;
}
#captureViewer{
  position: relative;
  margin: 0 auto;
  top: 0px;
  width: 800px;
  height: 800px;
  background: rgba(255,255,255,.8);
  border: 1px solid black;
  border-radius: 5px;  
}
#captures {
  position: absolute;
  display: none;
  bottom: 5px;
  left: 5px;
  width: 100%;
  height: 200px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid rgba(0,0,0,1);
  background: rgba(0,0,0, .7);
  overflow: hidden;
}
#captures img{
  position: relative;
  float: left;
  margin: 5px;
  width: 190px;
  height: 190px;
  border: 2px ridge rgba(255,255,255,1);
  border-radius: 5px;
  cursor: pointer;
}

/********* Google Maps API Styles **************
***********************************************/
#map_canvas {
  position: relative;
  margin: 0 auto;
  height: 760px;
  width: 1020px;
  border: 5px solid rgba(255,255,255,1);
  border-radius: 15px;  
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/************  xSelectable Styles **************
***********************************************/
.xselectable-glass {
  background-color: transparent;
  z-index: 1000;
  cursor: hand;
  cursor: pointer;
}
.xselectable-box {
  border: 1px dotted black;
  background-color: rgba(11, 178, 87, 0.5);
  cursor: hand;
  cursor: pointer;
}
.xselectable-box-selected {
  background-color: rgba(108, 121, 223, 0.5);
  border: 2px solid black;
}
